@font-face {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: normal;
    src: url("fonts/SegoeUI/SegoeUI-Regular.woff2") format("woff2"),
    url("fonts/SegoeUI/SegoeUI-Regular.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    src: url("fonts/SegoeUI/SegoeUI-SemiBold.woff2") format("woff2"),
    url("fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
    src: url("fonts/SegoeUI/SegoeUI-Bold.woff2") format("woff2"),
    url("fonts/SegoeUI/SegoeUI-Bold.woff") format("woff");
}